<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/font/fontawesome-free-6.2.1-web/css/all.min.css">
 <link rel="stylesheet" href="https://js.arcgis.com/4.19/esri/themes/light/main.css">
<link rel="stylesheet" href="/css/auth/newPassword.css">
</head>

<body>
	<div class="login_container">
		<div class="login_box">
			<div class="login_box_title">
				<div class="login_box_title_icon">
					<i class="fa-solid fa-user"></i>
				</div>
				<h1 class="login_box_title_text">New Password</h1>
			</div>
			<form method="post" action="/newPassword">
				<p class="error_mes"><%= errorMessage.msg %></p>
				<div class="login_wrap_input">
					<div class="login_input_item">
						<i class="fa-sharp fa-solid fa-lock"></i>
						<input type="password" name="password" placeholder="password..." value="<%= errorMessage.param === 'password' ? '' : oldInput.password %>" >
					</div>
					<div class="login_input_item">
						<i class="fa-sharp fa-solid fa-lock"></i>
						<input type="password" name="rePassword" placeholder="Confirm password..." value="<%= errorMessage.param === 'rePassword' ? '' : oldInput.repassword %>" >
					</div>
					<a class="login_fogotpass" href="/login">Login</a>
				</div>
				<input type="hidden" name="userId" value="<%= userId %>" >
				<input type="hidden" name="passwordToken" value="<%= passwordToken %>" >
				<button class="login_btn">Update password</button>
				<a class="login_signup" href="/signup">Sign up</a>
			</form>
		</div>
	</div>    


<%- include('../includes/footer.ejs') %>

<script src="/js/hanldeScroll/hanldeScrollHeader.js"></script>
